*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Gilroy";
}
html,body{
width: 100%;
height: 100%;
}
.main{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    /* background-color: red; */
}
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .left a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-size: 13px;
    font-weight: 700;
  }
  .center {
    width: 250px;
    height: 50px;
    margin-right: 7px;
  }
  .center img {
    width: 80%;
    height: 80%;
  }
  .line {
    width: 2px;
    height: 15px;
    background-color: silver;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    width: 20vw;
    border-radius: 25px;
  }
  .right i {
    color: silver;
  }
  .right input {
    border: none;
    color: silver;
    outline: none;
  }
  .mid{
    width: 100%;
    height: 43%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: purple; */
  }
  .midleft{
    width: 45%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items:flex-start;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
  }
  .midright{
    width: 45%;
    height: 100%;
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .midleft h1{
    font-size: 55px;
    font-weight: 500;
  }
  .midleft p{
    color: silver;
    line-height: 28px;
  }
  .midright img{
    width: 250px;
    height: 50px;
    margin-right: -205px;
  }
  .centerdiv{
    width: 91%;
    height:130vh;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    justify-content: space-around;
  }
.centerdivleft{
    height: 50%;
    width: 55%;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
    gap: 15px;
}

.firstin{
    width: 100%;
    height: 17%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.firstin input{
border: none;
outline: none;
width: 300px;
height: 50px;
padding: 22px;
border-radius: 30px;
background-color: #F7F7F7;
}
.emailin{
    border: none;
outline: none;
width: 100%;
height: 50px;
padding: 22px;
border-radius: 30px;
background-color: #F7F7F7;
}
.secondin input{
    border: none;
outline: none;
width: 300px;
height: 50px;
padding: 22px;
border-radius: 30px;
background-color: #F7F7F7;
}
.thirdin{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
    background-color: #F7F7F7;
    border-radius: 30px;
    padding:0px 22px;
}
.thirdin img{
margin-right: 9px;
}
.thirdin input{
    border: none;
outline: none;
width: 80%;
height: 50px;
padding: 22px;
border-radius: 30px;
 background-color: #F7F7F7;
margin-left: 20px;
}
.fourthin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 600px;
    background-color: #E6E6E6;
    border-radius: 30px;
    padding:0px 22px;
}
.do{
    width: 60%;
    background-color:#F2F2F2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    color: silver;
}
.ek{
    background-color: #E6E6E6;
    width:30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: silver;
    font-weight: 500;
}
.teen{
    padding: 6px;
    color: silver;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

}
.continue{
    width: 15vw;
    height: 7.5vh;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, #F58E03, #D6820C);
    /* background-color: #E401A1; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-right: -420px;
}
.continue span i {
    font-size: 28px;
  }
  .centerdivright{
    height: 45%;
    width: 35%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap: 12px;
    background-color: #F7F7F7;
    border-radius: 30px;
}
.centerdivright h3{
    margin-left: -200px;
}
.pifirst{
    width: 80%;
    height: 10%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    color: silver;
    justify-content: space-between;
}
.pisecond{
    width: 80%;
    height: 10%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: silver;
}
.pithird{
    width: 80%;
    height: 10%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: silver;
}
.pifourth{
    width: 80%;
    height: 10%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.pifourth p{
    font-weight: 900;
}
.newline{
    width: 80%;
    height: 0.35%;
    background-color: silver;
}
.pm{
    width: 20vw;
    height: 7.5vh;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, #8124C2, #5a0f90);
    /* background-color: #E401A1; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;

  }
  .pm span i{
    font-size: 28px;
  }
  .personal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: 500;
    margin-left: -780px;
    margin-bottom:-80px;
  }
  .personal span img{
    width: 30px;
    height: 30px;
    margin-top: 9px;
  }
  .extra{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 12px;
    color: silver;
    top: 130%;
  }
  .extra p{
    font-size: 15px;
  }














  
.sevenbottom{
    width: 100%;
    height: 38%;
    /* background-color: #00ef85; */
    }
    .friendsplaying{
      width: 100%;
      height: 100%;
    }
    .about{
      width: 590px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* background-color: rgb(133, 3, 25); */
      color: #fff;
      position: absolute;
    }
    .about h1{
      font-weight: 500;
      font-size: 50px;
      margin-bottom: 10px;
    }
    .about p{
      margin-bottom: 50px;
    }
    .datainfo{
      width: 100%;
      height: 11vh;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 50px;
    }
    .datainfo input{
      width: 50%;
      height: 100%;
      border: none;
      outline: none;
    }
    .subscribe{
      width: 15vw;
      height: 7.5vh;
      border-radius: 25px;
      border: none;
      background: linear-gradient(to right, #F79003, #F79003);
      /* background-color: #E401A1; */
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
    }
    .footertop{
      width: 100%;
      height: 30%;
      /* background-color: aqua; */
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 360px;
    }
    .footertopright a{
      text-decoration: none;
      color: black;
      margin-right: 25px;
      font-size: 13px;
      font-weight: 700;
    }
    .footertop img{
      width: 220px;
      height: 40px;
    }
    .sevenbottom{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .footerline{
      width: 81%;
      height: 1%;
      background-color: silver;
      margin-top: 30px;
    }
    .footerbottom{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 350px;
      margin-top:30px;
    }
    .footerbottomright{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
    }
    #fbicon{
      background-color: #D40089;
      color: #fff;
      border-radius: 50%;
      padding: 5px;
    }
    #xicon{
      border-radius: 50%;
      border: 1px solid silver;
    padding: 5px;
    }
    #instaicon{
      border-radius: 50%;
      border: 1px solid silver;
    padding: 5px;
    }
    .seventop{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sevensf{
      width: 80px;
      height: 80px;
      transform: rotate(180deg);
    }
    .sevenasset{
      width: 80px;
      height: 110px;
      transform: rotate(-50deg);
      margin-right: 125px;
      margin-bottom: 25px;
    }
    .navbar .left a span img{
      width: 35px;
      height: 35px;
      margin-left: -5px;
    }
    .footertopright a span img{
      width: 65px;
      height: 65px;
      margin-left: -22px;
      margin-bottom: -28px;
    }